<nav>
    <ul>
        <!-- Breve resumo de mim, o que faço no momento.
            Aqui digo onde me especializo. -->
        <li>
            Quem Sou
        </li>
    
        <!-- Aqui digo as empresas que trabalhei na area
             de TI e o que fiz na mesma. -->
        <li>
            <a href="#experience">Experiências</a>
        </li>
    
        <!-- Informo alguns projetos que postei no GitHub. -->
        <li>
            <a href="#projects">Projetos</a>
        </li>
    
        <!-- Informo meus conhecimentos e tempo de experiência. -->
        <li>
            <a href="#skills">Conhecimentos</a>
        </li>
    
        <!-- Deixo algumas informações para contato. -->
        <li>
            <a href="#contact">Contato</a>
        </li>
    </ul>
</nav>


<div class="upPage">
    <a href="#">></a>
</div>