<nav>
    <ul>
        <!-- Breve resumo de mim, o que faço no momento.
            Aqui digo onde me especializo. -->
        <li>Quem Sou</li>
    
        <!-- Aqui digo as empresas que trabalhei na area
             de TI e o que fiz na mesma. -->
        <li>Experiências</li>
    
        <!-- Informo alguns projetos que postei no GitHub. -->
        <li>Projetos</li>
    
        <!-- Informo meus conhecimentos e tempo de experiência. -->
        <li>Conhecimentos</li>
    
        <!-- Deixo algumas informações para contato. -->
        <li>Contato</li>
    </ul>
</nav>
