<section class="box">
    <div class="textBox">
        <h1 class="text"> Olá, Sou o Otávio Afonso;</h1>
        <h2 class="subText">Desenvolvedor Front End Júnior</h2>
    </div>

    <div class="boxPerfil">
        <div class="imgPerfil">
            <img src="assets/img/perfil-in.png" alt="">
        </div>
        <div class="framePerfil"></div>
        <div class="cards">
            <ul>
                <li>
                    <a href="https://wa.me/5515998302186?text=Olá, Tudo bem Otávio?" target="_blank"> WhatsApp </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/otavio-afonso-07337b177" target="_blank"> LinkedIn </a>
                </li>
                <li>
                    <a href="https://github.com/Otavio19" target="_blank"> GitHub </a>
                </li>
            </ul>
        </div>
    </div>
</section>