<section id="projects">
    <div class="boxContainer">
        <h1 class="titleSection">
            <p>Principais</p>
            Projetos
        </h1>

        <div class="cardsBox">
            <div class="cardProject">
                <div class="cardTitle">
                    Pedidos
                </div>
                <div class="cardsSkill">
                    <div class="cardSkill">
                        Angular
                    </div>
                    <div class="cardSkill">
                        API request
                    </div>
                </div>
                <div class="cardDesc">
                    <details>
                        <summary>Ver Mais</summary>
                        <p>
                            Nesse projeto utilizei o framework Angular e 
                            <a href="https://www.xano.com/" target="_blank">XANO</a>
                            para as requisições HTTP.
                        </p>
                        <p>
                            A ideia é criar um sistema que facilite o possivel
                            pequenos comercios de laçarem e administrarem seus pedidos.
                        </p>
                        <ul>
                            Nele é possível:
                            <li>Cadastrar/Consultar Pedidos</li>
                            <li>Cadastrar/Consultar Clientes</li>
                            <li>Cadastrar/Consultar Produtos</li>
                            <li>Consultar Dashboard</li>
                        </ul>
                        <a href="https://github.com/Otavio19/Pedidos" class="cardLinkCode" target="_blank">
                            Ver código no GitHub
                        </a>
                    </details>
                </div>
                <a href="https://github.com/Otavio19/Pedidos" class="cardLinkCode" target="_blank">
                    Ver código no GitHub
                </a>
            </div>

            <div class="cardProject">
                <div class="cardTitle">
                    Estoque
                </div>
                <div class="cardsSkill">
                    <div class="cardSkill">
                        HTML / CSS / JavaScript
                    </div>
                    <div class="cardSkill">
                        jQuery
                    </div>
                    <div class="cardSkill">
                        Ajax
                    </div>
                </div>
                <div class="cardDesc">
                    <details>
                        <summary>Ver Mais</summary>
                        <p>
                            Antes de começar o projeto <q>Pedidos</q>, eu trabalhei em outro projeto.
                             Nele usei o <a href="https://mockapi.io/" target="_blank">mockapi</a> 
                             para as requisições AJAX. 
                        </p>
                        <p>
                            O objetivo era aprimorar minhas habilidades em programação 
                            e trabalhar com requisições de API. 
                            O resultado foi uma aplicação com duas telas: 
                            uma para cadastrar produtos e outra para gerenciar sua movimentação.
                        </p>
                        <ul>
                            Nele é possível:
                            <li>Cadastrar Produto</li>
                            <li>Movimentar Estoque</li>
                        </ul>
                        <a href="https://github.com/Otavio19/Estoque" class="cardLinkCode" target="_blank">
                            Ver código no GitHub
                        </a>
                    </details>
                </div>
                <a href="https://github.com/Otavio19/Estoque" class="cardLinkCode" target="_blank">
                    Ver código no GitHub
                </a>
            </div>

            <div class="cardProject">
                <div class="cardTitle">
                    Netflix - Cópia
                </div>
                <div class="cardsSkill">
                    <div class="cardSkill">
                        HTML / CSS
                    </div>
                </div>
                <div class="cardDesc">
                    <details>
                        <summary>Ver Mais</summary>
                        <p>
                            Embora possa ser considerado comum para um Jr, 
                            é algo que me entusiasma. Refiz o site com base no original.
                            Montar esse projeto, mesmo que seja apenas a página inicial, 
                            me mostrou meu progresso e sou grato por isso.
                        </p>
                        <p>
                            O objetivo era avaliar minha evolução em HTML e CSS, refazendo o site original.
                        </p>
                        <a href="https://github.com/Otavio19/NetflixEstilo" class="cardLinkCode" target="_blank">
                            Ver código no GitHub
                        </a>
                    </details>
                </div>
                <a href="https://github.com/Otavio19/NetflixEstilo" class="cardLinkCode" target="_blank">
                    Ver código no GitHub
                </a>
            </div>
        </div>
    </div>
</section>