<section id="skills">
    <div class="boxContainer">
        <h1 class="titleSection">
            Conhecimentos
        </h1>
        <div class="CardSkill">
            <h1>Scrum</h1>
        </div>
        <div class="CardSkill">
            <h1>Html / CSS / JS</h1>
        </div>
        <div class="CardSkill">
            <h1>Angular</h1>
        </div>
        <div class="CardSkill">
            <h1>Git</h1>
        </div>
        <div class="CardSkill">
            <h1>Adaptabilidade a novas técnologias</h1>
        </div>
        <div class="CardSkill">
            <h1>POO</h1>
        </div>
        
        <div class="CardSkill">
            <h1>SQL</h1>
        </div>
        <div class="CardSkill">
            <h1>Comunicação Clara e efetiva</h1>
        </div>
        <div class="CardSkill">
            <h1>.NET</h1>
        </div>
        <div class="CardSkill">
            <h1>Bootstrap</h1>
        </div>

        <div class="titleSectionBg">
            <b>SKILLS</b> 
        </div>
    </div>
</section>