<section id="experience">
    <div class="boxContainer">
        <div class="titleSection">
            <h1>Experiências</h1>
            <p>Na área de técnologia.</p>
        </div>

        <div class="jobCard">
            <div class="jobTicked">
               <b>Estágio</b> 
            </div>
            <div class="jobCardTitle">
                Analista de Suporte
            </div>
            <div class="jobTime">
                Julho de 2021 - Maio de 2022 • 11 Meses.
            </div>
            <div class="jobCardDesc">
                Fui responsável pelo treinamento de novos clientes, 
                gestão de experiência dos clientes, resolução de 
                problemas técnicos e atendimento ao cliente.
            </div>
            <div class="jobBottom">
                <button>PedidoEletronico.com</button>
            </div>
        </div>

        <div class="jobCard">
            <div class="jobCardTitle">
                Operador de Suporte Jr II
            </div>
            <div class="jobTime">
                Maio de 2022 - Dezembro de 2022 • 8 Meses.
            </div>
            <div class="jobCardDesc">
                Fui responsável pela resolução e solução de problemas técnicos das filiais, garantir a
                estabilidade e disponibilidade dos sistemas, direcionamento do chamado para o setor
                responsável, instalação de softwares, entre outras tarefas designadas a mim.
            </div>
            <div class="jobBottom">
                <button>Farma Ponte</button>
            </div>
        </div>
    </div>
    
</section>